.map-container {
  height: 400px;

&::ng-deep{
.leaflet-routing-alternatives-container {
  display: none;
}
.leaflet-pane{
  z-index: 10;
}

.leaflet-container{
  height: 350px;
}
}
}
.delivery-stats-container{
  display: flex;
  justify-content: center;
  z-index: 15 !important;
  position: relative;
  top: -25px;

  .stat{
    background-color: #007aaf;
    padding: 50px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    height: 50px;
    width: 50px;
  }
}
