.example-card {
  max-width: 400px;
  cursor: pointer;
  outline: grey;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 50px;
  gap: 16px;
  justify-content: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.pizzaPrice {
  font-size: large;
  font-weight: bold;
  color: #3f51b5;
}

.outline {
  border-style: solid;
  border-width: medium;
}
