<ng-container ></ng-container>
<div
  class="customizer_wrapper"
  *ngIf="pizzaData != undefined"
  [ngStyle]="{'background-image': 'url(' + pizzaData.img + ')'}"
>
  <div class="button_wrapper">
    <button mat-flat-button mat-dialog-close>
      <span class="material-icons md-36">close</span>
    </button>
    <button mat-flat-button color="primary">Zum Warenkorb</button>
  </div>

  <div class="header_wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Gestalte {{ pizzaData.title }}</mat-card-title>
        <mat-card-subtitle>{{ pizzaData.price | currency:'EUR' }}</mat-card-subtitle>
        <mat-card-content
          >Gestalte Deine Pizza mit Zutaten ganz nach Deinem Geschmack. Mit Teig
          und Mozzarella. Legende für Allergene und Zusatzstoffe siehe
          unten.</mat-card-content
        >
      </mat-card-header>
    </mat-card>
  </div>

  <div class="content_wrapper">
    <mat-accordion>
      <div class="panel_wrapper">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Größe </mat-panel-title>
            <mat-panel-description> Large </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="content_size">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Small</mat-radio-button>
              <mat-radio-button value="2">Medium</mat-radio-button>
              <mat-radio-button value="3">Large</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="panel_wrapper">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Zutaten </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content_ingredients">
            <label>Hinzugefügte Zutaten</label>
            <div
              class="content_added_ingedients ingredients"
              *ngFor="let pizzaIngredients of pizzaData.ingredients"
            >
              <p class="ingredient_name">{{ pizzaIngredients.name }}</p>
              <p class="ingredient_price">{{ pizzaIngredients.price }}€</p>
              <button mat-mini-fab color="primary"(click)="RemoveIngredientFromPizza(pizzaIngredients)">
                -
              </button>
            </div>
            <label>Zutaten</label>
            <div
              class="content_other_ingerdients ingredients"
              *ngFor="let Ingredients of ingredientData"
            >
              <p class="ingredient_name">{{ Ingredients.name }}</p>
              <p class="ingredient_price">{{ Ingredients.price }}€</p>
              <button mat-mini-fab color="accent" (click)="AddIngredientToPizza(Ingredients)">
                +
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="panel_wrapper">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Notiz </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content_notes">
            <mat-form-field class="example-full-width">
              <mat-label>Note</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="panel_wrapper">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Nährwerte </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content_nutrition">
            <button
              mat-raised-button
              onclick="window.location.href='https://www.dominos.de/produkte/allergenezusatzstoffe?contentonly=true';"
            >
              Nährwerte, Allergen- und Zusatzstofflisten anzeigen
            </button>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="panel_wrapper">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Allergene und Zusatzstoffe </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="content_allergens">
            <p>
              Allergene: a Enthält glutenhaltiges Getreide • a1 Enthält Weizen •
              a2 Enthält Weizen und Gerste • a3 Enthält Weizen und Roggen • b
              Enthält Krebstiere • c Enthält Fische • d Enthält Schalenfrüchte •
              d1 Enthält Cashewkerne • d2 Enthält Mandeln • e Enthält Erdnüsse •
              f Enthält Sojabohnen • g Enthält Milch (einschl. Laktose) • h
              Enthält Sellerie • i Enthält Senf • j Enthält Sesamsamen • k
              Enthält Schwefeldioxid und Sulfite >10mg/kg oder 10mg/l • l
              Enthält Ei • m Enthält Lupinen • n Enthält Weichtiere.
              Kreuzkontaminationen können nicht ausgeschlossen werden.
              Zusatzstoffe: 1 mit Farbstoff • 2 konserviert • 3 mit
              Antioxidationsmitteln • 4 mit Geschmacksverstärker • 5 mit
              Süßungsmittel: Saccharin • 6 mit Zuckerart und Süßungsmittel • 7
              enthält eine Phenylalanin-Quelle • 8 coffeinhaltig • 9 Phosphat •
              10 enthält Sulfite • 11 Emulgator • 12 Backtriebmittel • 13
              Feuchthaltemittel • 14 Verdickungsmittel • 15 Säureregulator • 16
              Geliermittel • 17 Stabilisator • 18 Säuerungsmittel • 19 Aromen.
              Alle Preise in €. Preise inkl. gesetzlicher Mehrwertsteuer,
              Änderungen vorbehalten. Blechinnenmaße gerundet (ca. 25cm / ca.
              28cm / ca. 32cm). *Vegane Filetstücke Hähnchen-Style Alle
              Nährwerte, die für den Nutri-Score genutzt werden, stammen aus
              theoretischen Berechnungen (100 g/ Portion), die auf den Daten
              unserer Lieferanten beruhen. Die tatsächlichen Werte können durch
              die Verarbeitung der Produkte in den Stores leicht variieren. Bei
              den Pizzarezepturen wurde als Grundlage zur Ermittlung des
              Nutri-Scores die Größe Medium verwendet.
            </p>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
<div *ngIf="pizzaData == undefined">
  No Pizza found!
</div>
